.details-section {
  position: relative;
  width: 100%;
  height: 85vh;
  background: #d3437a;
  padding: 1rem;
  border-radius: 5px;
  max-height: 100%;
  overflow: hidden;
}

.Error {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-hero {
  background-image: url(../../assets/Cloud03.png);
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  width: 100%;
  height: auto;
  margin-top: 28px;
  min-height: 35vh;
  padding: 5%;
}

.details-hero .title {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.9rem;
  line-height: 2.6rem;
}

h3 {
  font-size: 1rem;
}

.weather-info {
  width: 100%;
  background: #ec4c8a;
  padding: 10px;
}

.weather-info h5 {
  padding: 2% 5%;
}

.d-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 1rem;
  background-color: #b33a6a;
}

.d-card h4 {
  margin-left: 8px;
}

.d-card:nth-child(odd) {
  background-color: #d74f86;
}

.empty {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-size: 5rem;
}

.back {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1rem;
}
